<html>
<head>
    <link href="/view/ozf-summer-cup-scoreboard/css/scoreboard.css" rel="stylesheet"/>
    <script src="/view/ozf-summer-cup-scoreboard/js/jquery-1.11.1.min.js"></script>
    <script src="/view/ozf-summer-cup-scoreboard/js/scoreboard.js"></script>

    <!-- NodeCG API setup script. MUST BE THE LAST <script> TAG ON THE PAGE! -->
    <script src="/viewsetup.js"></script>
</head>
<body>
    <div id="scoreboard">
        <div id="score_left" class="fonted">
            <span id="score_leftText" class="textLeft">UNDEFINED</span>
            <span id="score_leftNumber" class="textRight number">0</span>
        </div>
        <div id="score_right" class="fonted">
            <span id="score_rightText" class="textRight">UNDEFINED</span>
            <span id="score_rightNumber" class="textLeft number">0</span>
        </div>
    </div>
</body>
</html>